<section class="card">
  <a href="/plant/{{id}}">
    <img src="/images/{{fileName}}" alt="seasonal flowers"><!-- image of plant-->
    <header>{{common_name}}</header><!-- name of plant-->
  </a>
</section>