<a href="/plant/{{id}}">
    <div class="card link-card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="/images/{{fileName}}" alt="seasonal flowers">
                </figure>
            </div>
            <header class="card-header">
                <p class="card-header-title">
                    {{common_name}}
                </p>
            </header>
    </div>
</a>