<section class="card">
  <a href="/season/{{season}}">
    <header>{{season}}</header><!-- name of season-->
    <img src="/images/anemone.jpeg" alt="seasonal flowers"><!-- name of plant-->
  </a>
</section>