<!--localhost:3001/ /id-->
<section class="card">

  <a href="/plants/{{id}}">
    <header>{{plant.season}}</header><!-- name of season-->
    <img src="/images/{{plant.[0].filename}}" alt="{{plant.[0].name}}"><!-- name of plant-->
  </a>
</section>