<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Garden Proud</title>
    <!--CSS only-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{!-- <div id="page-container"> --}}
    <section class="hero pageHeader">
    <!-- Hero head: will stick at the top -->

    <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container has-text-centered titleContainer">
                <div class="titleBlock">
                    <h1 class="title">
                        Garden Proud
                    </h1>
                    <h2 class="subtitle">
                        For Gardening Enthusiasts
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href= "/">
      Home
      </a>
        {{#if loggedIn}}
            <a class="navbar-item" href="/profile">My Garden</a> </li>
        {{else}}
             <a class= "navbar-item" href="/login">Login</a>
        {{/if}}  
      </a>
        {{#if loggedIn}}
            <a class="navbar-item" id="logout">Logout</a> 
        {{/if}}  
    </div>
  </div>
</nav>
        {{!-- <section class="hero is-medium has-bg-img">
            <img is-bg-img
            <div class="hero-container">
                
                <div class="hero-body">
                    <img src="\images\heroImage.jpg"/>
                    <p class="title">Garden Proud</p>
                    <p class="subtitle">
                    For Gardening Enthusiasts
                    </p>
                </div>
            </div>
        </section> --}}
        <div class="flex-column justify-space-around">
            {{!-- <header class="display-flex justify-space-between align-center p-2">
                <nav>
                    <a href="/">Home</a>
                    <!-- Conditionally render login or logout links -->
                    <!-- for profile page-->
                    {{#if loggedIn}}
                    <a href="/profile">My Garden</a> |
                    <button class="no-button" id="logout">Logout</button>
                    {{else}}
                    <a href="/login">Login</a>
                    {{/if}}
                </nav>
            </header> --}}
            <main class="container container-fluid mt-5">
                <!-- Render the sub layout -->
                <div class="season">
                    {{{ body }}}
                </div>
            </main>

            <footer class="footer">
                <div class="content has-text-centered">
                    <p>© 2022</p>
                </div>
            </footer>
        </div>
    {{!-- </div> --}}
    
    <!-- Render script for logged in users only -->
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
    
</body>

</html>