{{!-- <div class="row is-centered"> --}}
<div class="columns is-multiline">
    {{#each seasons as |season|}}
    <div class="column is-multiline">
        <a href="/season/{{season}}">
            <div class="card seasonCard link-card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        {{#eq season "Spring"}}
                        <img src="/images/tulip.jpeg" alt="seasonal flowers">
                        {{/eq}}
                        {{#eq season "Summer"}}
                        <img src="/images/sunflower.jpeg" alt="seasonal flowers">
                        {{/eq}}
                        {{#eq season "Autumn"}}
                        <img src="/images/mums.jpeg" alt="seasonal flowers">
                        {{/eq}}
                    </figure>
                </div>
                <header class="card-content">
                    <p class="card-header-title">
                        {{season}}
                    </p>
                </header>
            </div>
        </a>
    </div>
    {{/each}}
</div>
{{!-- </div> --}}
