<section class="container">
  <h3 class="season-name">{{plant.season}}</h3><!--need to look back on homeroute tp check name-->
 
  <section class="flex-row justify-center">
    {{#each plants as |plant|}}<!-- season details homepage as plantss,plantss/id as plant-->
    {{!-- {{> plant-details}} --}}
    <a href="/plant/{{plant.id}}">{{plant.common_name}}</a>
    {{/each}}
  </section>
</section>