<section class="container">
  <h3 class="season-name">{{plant.season}}</h3><!--need to look back on homeroute tp check name-->
 
  <div class="columns is-multiline">
    {{#each plants as |plant|}}<!-- season details homepage as plantss,plantss/id as plant-->
    <div class="column">
      {{> plantDetails}}
    </div>
    {{/each}}
  </div>
</section>