#page-container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 2.5rem;
}

.plantCard {
    width: 
}

.image{
    width: 80%;
    margin: 0 auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding: 2rem 1rem 4rem !important;
}

.login-card {
    
  max-width: 100%;
  padding: 20px;
  border: 3px solid #666968;
  border-radius: 0.3rem;
  border-style: double;
  border-width: thick;
  background-color: #e6ecec;
  color: black;

}
.input{
  border: 2px solid rgb(156, 153, 153);
  padding: 10px;

}
.page-title{
  padding: 10px;
  font-weight: bold;
}
.button{
  font-weight: bold;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
nav {
    display: flex;
    background-color: #b3dbcf;
}  

.link-card {
  height: 200px;
  width: 200px;
}

