#page-container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 2.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding: 2rem 1rem 4rem !important;
}
main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  nav {
    display: flex;
    background-color: #b3dbcf;
  }  

img {
  width: 100px;
}